In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('student-dataset.csv')

In [4]:
df.head()

,id,name,nationality,city,latitude,longitude,gender,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,22,3.5,3.7,3.1,1.0,4,4.0,4
1,1,Joshua Lonaker,United States of America,Santa Clarita,34.39,-118.54,M,22,2.9,3.2,3.6,5.0,5,4.0,5
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,22,3.9,3.8,3.2,5.0,3,3.0,4
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,20,3.3,2.8,NaN,5.0,5,2.0,4
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,21,3.7,2.6,3.4,1.0,4,4.0,5

In [5]:
df.isnull().sum()

id                    0
name                  0
nationality           0
city                  0
latitude              0
longitude             0
gender                0
age                   0
english.grade         0
math.grade            0
sciences.grade        9
language.grade        0
portfolio.rating      0
coverletter.rating    0
refletter.rating      0
dtype: int64

In [8]:
df["sciences.grade"].fillna(df["sciences.grade"].median(),inplace=True)

<ipython-input-8-d7e46cddc95a>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["sciences.grade"].fillna(df["sciences.grade"].median(),inplace=True)

In [9]:
df.isnull().sum()

id                    0
name                  0
nationality           0
city                  0
latitude              0
longitude             0
gender                0
age                   0
english.grade         0
math.grade            0
sciences.grade        0
language.grade        0
portfolio.rating      0
coverletter.rating    0
refletter.rating      0
dtype: int64

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [11]:
mms=MinMaxScaler()

In [13]:
df[["math.grade","sciences.grade","language.grade	"]]=mms.fit_transform(df[["math.grade","sciences.grade","language.grade"]])

In [14]:
df

,id,name,nationality,city,latitude,longitude,gender,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating,language.grade\t
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,22,3.5,0.842105,0.653846,1.0,4,4.0,4,0.0
1,1,Joshua Lonaker,United States of America,Santa Clarita,34.39,-118.54,M,22,2.9,0.578947,0.846154,5.0,5,4.0,5,1.0
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,22,3.9,0.894737,0.692308,5.0,3,3.0,4,1.0
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,20,3.3,0.368421,0.846154,5.0,5,2.0,4,1.0
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,21,3.7,0.263158,0.769231,1.0,4,4.0,5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,302,Austin Haas,United States of America,Columbus,39.96,-83.00,M,20,3.6,0.842105,0.653846,5.0,4,5.0,5,1.0
303,303,Madison Fithian,United States of America,Los Angeles,34.05,-118.24,F,20,3.6,0.947368,1.000000,5.0,5,5.0,3,1.0
304,304,Zachary Mulvahill,United States of America,Los Angeles,34.05,-118.24,M,20,3.2,0.684211,0.961538,5.0,5,5.0,3,1.0
305,305,Eliana Michelsen,United States of America,Oakland,37.80,-122.27,F,23,3.0,0.368421,0.576923,5.0,4,4.0,5,1.0
306,306,Dane Whittemore,Canada,Toronto,43.67,-79.42,M,21,3.8,0.578947,1.000000,5.0,5,4.0,5,1.0